.breadcrumb > li {
    display: inline;
    font-size: 20px;
    color: blue;
  }
  .breadcrumb li.location+li.location::before {
    content: ">";
   color: gray;
  }
  .breadcrumb li.attribute a {
    color: gray;
  }
  .breadcrumb li.attribute::after {
    content: "x";
    color: red;
    font-size: 10px;
    vertical-align: super;
  }
  